@font-face {
  font-family: "RangeMono";
  src: url(../font_ttf/range-mono-medium-webfont.ttf);
}
@font-face {
  font-family: "VeenerTwo";
  src: url(../font_ttf/FontsFree-Net-Veneer-W01-Two.ttf);
}
@font-face {
  font-family: "FrontageCondReg";
  src: url(../font_ttf/FrontageCondensed-Regular.ttf);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  border: none;
  border-radius: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "RangeMono", sans-serif;
  color: #000000;
  font-weight: 300;
  line-height: 1.6;
  text-transform: uppercase;
}

.dp-none {
  display: none;
}

.pd-16 {
  padding: 1.6rem;
}

.pd-30-tb {
  padding: 3rem 0;
}

.pd-32-lr {
  padding: 0 3.2rem;
}

.mg-16-b {
  margin: 1.6rem;
}

@keyframes r2l {
  0% {
    transform: translate3d(10rem, 0, 0);
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sticky {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(234, 234, 234, 0.9019607843);
  animation: fadeIn 0.5s;
}

.products {
  display: grid;
}
.products__img {
  cursor: pointer;
  position: relative;
}
.products__img img {
  display: block;
  width: 100%;
  height: 100%;
}
.products__img:hover::after {
  transform: scale(1, 1);
}
.products__img::after {
  content: "";
  position: absolute;
  background-color: #000000;
  width: 100%;
  height: 0.5rem;
  left: 0;
  right: 0;
  bottom: 0.1rem;
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

.header__container.is--sticky {
  position: fixed;
  box-shadow: rgba(255, 255, 255, 0.95);
  animation: sticky 1s forwards;
}

.is--Opacity {
  animation: r2l 0.8s ease-out;
}

.heading-1 {
  color: #ffffff;
  font-size: 4.5rem;
  font-family: "VeenerTwo", sans-serif;
  font-weight: normal;
  letter-spacing: 0.08rem;
  line-height: 4.6rem;
  text-align: center;
  margin: 3.2rem 0;
}

.heading-2 {
  color: #ffffff;
  padding: 1.6rem;
  letter-spacing: 0.05rem;
  font-size: 2.8rem;
  line-height: 6.5rem;
  margin-right: 0.1rem;
  white-space: nowrap;
  background-color: #141414;
  text-transform: uppercase;
  font-family: "VeenerTwo", sans-serif;
}

.btn {
  font-family: "FrontageCondReg", sans-serif;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s;
  white-space: nowrap;
  vertical-align: middle;
}
.btn:hover {
  opacity: 0.7;
}

.clothes--header {
  color: #000000;
}

.bestseller--header {
  color: #000000;
}

.product__text {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
}
.product__text h2 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: "VeenerTwo", sans-serif;
  margin: 0 0.4rem;
}
.product__text p {
  font-size: 1.6rem;
  font-weight: 700;
}

.header__container {
  background-color: #141414;
  width: 100%;
  display: flex;
  z-index: 2;
  position: relative;
}

.header {
  display: grid;
  padding: 10px 0;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: auto;
  align-items: center;
  margin: 0 auto;
  width: 137.6rem;
}
.header__button {
  cursor: pointer;
}
.header__button:hover {
  opacity: 0.8;
}
.header__button svg {
  fill: #ffffff;
  padding-left: 0.55rem;
  width: 4.5rem;
  height: 3.5rem;
  transform: translateY(0.7rem);
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__nav--item:hover {
  opacity: 0.8;
}
.header__nav--icon {
  fill: #ffffff;
  padding-left: 2.8rem;
  padding-right: 1.6rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo--img {
  width: 5.3rem;
  height: 7.2rem;
  display: block;
}

.account__bar {
  justify-self: end;
  color: #ffffff;
  fill: #ffffff;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.account__bar--customer {
  vertical-align: -0.2rem;
}
.account__bar--cart {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.account__bar--cart svg {
  transform: translateY(-0.3rem);
}

.cart__currency {
  font-size: 1.2rem;
  line-height: 1;
}

.drop--menu {
  position: absolute;
  top: 100%;
  background-color: inherit;
  display: none;
}

.discount {
  text-align: center;
}
.discount__primary {
  line-height: normal;
  padding: 1.6rem 0;
  background-color: #00006f;
  color: #ffffff;
  font-size: 1.6rem;
}
.discount__primary u {
  text-decoration: underline;
}
.discount__bonus--1 {
  line-height: normal;
  padding: 16px 0;
  background-color: #b1b1b1;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: none;
}
.discount__bonus--1 span {
  text-transform: lowercase;
  cursor: pointer;
  text-decoration: underline;
}

.slider {
  overflow: hidden;
  height: 35vw;
  margin: 0 auto;
  position: relative;
}
.slider__btn {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6.4rem;
  height: 6.4rem;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 0.6rem;
  opacity: 0.3;
  font-size: 1.6rem;
  cursor: pointer;
}
.slider__btn:hover {
  opacity: 1;
}
.slider__btn--left {
  left: 2.4rem;
}
.slider__btn--right {
  right: 2.4rem;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s;
}
.slide > img {
  width: 100%;
  height: 100%;
}

.slide__primary {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  height: 100%;
  width: 100%;
  max-width: 85%;
  justify-content: flex-end;
  align-items: flex-end;
}

.slide__table {
  position: relative;
  padding: 4rem;
  margin: 4rem;
  font-size: 1.6rem;
  text-align: center;
}
.slide__table--background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-color: #000000;
  opacity: 0.5;
}
.slide__table--content {
  position: relative;
  z-index: 1;
  color: #ffffff;
}
.slide__table--content h1 {
  font-size: 3.2rem;
  font-family: "VeenerTwo", sans-serif;
  margin-bottom: 0.8rem;
  line-height: 3.5rem;
  letter-spacing: 0.15rem;
  font-weight: normal;
}
.slide__table--content p {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.dots {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dots__dot {
  border: none;
  background: #c8c8c8;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot--active {
  background-color: #fff;
  opacity: 1;
}

.bestseller__container {
  width: 100%;
  padding: 3rem 2rem;
}
.bestseller--product {
  display: grid;
  grid-column-gap: 2.4rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 3.2rem;
  width: 100%;
}

.clothes__container {
  width: 100%;
  padding: 3rem 2rem;
}
.clothes__buttons {
  align-self: center;
  justify-self: center;
  display: block;
  font-family: "RangeMono", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transform: translateY(-5rem);
}
.clothes--products {
  display: grid;
  grid-gap: 2.4rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 3.2rem;
  width: 100%;
}

.accessories__header {
  color: #000000;
}

.gallery__img {
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-out;
}
.gallery__img:hover {
  transform: scale(1.2);
}
.gallery__img--1 {
  background-image: url(../img/gallery/gallery--1.webp);
  background-size: cover;
  background-position: center center;
  height: 100%;
  background-repeat: no-repeat;
}
.gallery__img--2 {
  background-image: url(../img/gallery/gallery--2.webp);
  background-size: cover;
  background-position: center center;
  height: 100%;
}
.gallery__img--3 {
  background-image: url(../img/gallery/gallery--3.webp);
  background-size: cover;
  background-position: center center;
  height: 100%;
}
.gallery__img--4 {
  background-image: url(../img/gallery/gallery--4.webp);
  background-size: cover;
  background-position: center center;
  height: 100%;
}
.gallery__container {
  max-width: 137.6rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(20rem, 1fr));
}
.gallery__container--img {
  height: 34rem;
  width: auto;
  overflow: hidden;
}

.about__header {
  color: #000000;
  font-weight: normal;
  line-height: 4rem;
  font-size: 3.2rem;
}
.about__text {
  text-align: center;
}
.about__text p {
  line-height: 3.2rem;
  margin-bottom: 1.6rem;
  letter-spacing: normal;
  font-family: "FrontageCondReg", sans-serif;
  font-size: 1.6rem;
}
.about__text h3 {
  font-size: 2.2rem;
  letter-spacing: 0;
  font-family: "VeenerTwo", sans-serif;
  font-weight: normal;
  margin-top: 1.6rem;
  line-height: 3rem;
}

/*# sourceMappingURL=style.css.map */
