@font-face {
  font-family: "RangeMono";
  src: url(../font_ttf/range-mono-medium-webfont.ttf);
}
@font-face {
  font-family: "VeenerTwo";
  src: url(../font_ttf/FontsFree-Net-Veneer-W01-Two.ttf);
}
@font-face {
  font-family: "FrontageCondReg";
  src: url(../font_ttf/FrontageCondensed-Regular.ttf);
}

//? COLOR VARIABLE.
$color-primary: #ffffff;
$color-dark-1: #000000;
$color-blue-dark: #00006f;
$color-grey-dark-1: #b1b1b1;
$color-grey-dark-2: #eaeaeae6;

$color-dark-2: #141414;

//? FONT VARIABLE.
$font-display: "RangeMono", sans-serif;
$font-primary: "VeenerTwo", sans-serif;
$font-button: "FrontageCondReg", sans-serif;

//? BREAKPOINT VARIABLE.
$bp-largest: 63em;
$bp-medium: 48em;
$bp-small: 40em;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  border: none;
  border-radius: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-display;
  color: $color-dark-1;
  font-weight: 300;
  line-height: 1.6;
  text-transform: uppercase;
}

.dp-none {
  display: none !important;
}

.pd-16 {
  padding: 1.6rem;
}

.pd-30-tb {
  padding: 3rem 0;
}

.pd-32-lr {
  padding: 0 3.2rem;
}

.mg-16-b {
  margin: 1.6rem;
}

@keyframes r2l {
  0% {
    transform: translate3d(10rem, 0, 0);
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sticky {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: $color-grey-dark-2;
  animation: fadeIn 0.5s;
}

.products {
  display: grid;

  &__img {
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      transition: all 0.5s ease;

      &:hover {
        transform: translateY(-1rem);
      }
    }

    &:hover::after {
      transform: scale(1, 1);
    }

    &::after {
      content: "";
      position: absolute;
      background-color: $color-dark-1;
      width: 100%;
      height: 0.5rem;
      left: 0;
      right: 0;
      bottom: 0.1rem;
      transform: scale(0, 1);
      transition: transform 0.3s ease;
    }
  }
}

.header__container.is--sticky {
  position: fixed;
  box-shadow: rgba(255, 255, 255, 0.95);
  animation: sticky 1s forwards;
}

.is--Opacity {
  animation: r2l 0.8s ease-out;
}

.opacity--03 {
  opacity: 0.3;
}
