.bestseller {
  &__container {
    width: 100%;
    padding: 3rem 2rem;
  }
  &--product {
    display: grid;
    grid-column-gap: 2.4rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 3.2rem;
    width: 100%;
  }
}
