.clothes {
  &__container {
    width: 100%;
    padding: 3rem 2rem;
  }

  &__buttons {
    align-self: center;
    justify-self: center;
    display: flex;
    font-family: $font-display;
    text-transform: uppercase;
    cursor: pointer;
    transform: translateY(-5rem);

    @media only screen and (max-width: 50em) {
      justify-content: center;
      align-items: center;
      min-width: 31.25rem;
      max-width: 33.75rem;
      width: 33.75rem;
    }
  }

  &--products {
    display: grid;
    grid-gap: 2.4rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 3.2rem;
    width: 100%;
  }
}
