.discount {
  text-align: center;

  &__primary {
    line-height: normal;
    padding: 1.6rem 0;
    background-color: $color-blue-dark;
    color: $color-primary;
    font-size: 1.6rem;
    u {
      text-decoration: underline;
    }
  }

  &__bonus {
    &--1 {
      line-height: normal;
      padding: 16px 0;
      background-color: $color-grey-dark-1;
      font-size: 1.6rem;
      font-weight: 400;
      text-transform: none;

      span {
        text-transform: lowercase;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
