.header__container {
  background-color: $color-dark-2;
  max-width: 100%;
  display: flex;
  z-index: 2;
  position: relative;
}

.header {
  display: grid;
  padding: 10px 0;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: auto;
  align-items: center;
  margin: 0 auto;
  width: 137.6rem;

  &__button {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }

    svg {
      fill: $color-primary;
      padding-left: 0.55rem;
      width: 4.5rem;
      height: 3.5rem;
      transform: translateY(0.7rem);
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;

    &--item {
      &:hover {
        opacity: 0.8;
      }
    }

    &--icon {
      fill: $color-primary;
      padding-left: 2.8rem;
      padding-right: 1.6rem;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    &--img {
      width: 5.3rem;
      height: 7.2rem;
      display: block;
    }
  }
}

.account__bar {
  justify-self: end;
  color: $color-primary;
  fill: $color-primary;
  display: flex;
  align-items: center;
  gap: 1.6rem;

  &--customer {
    vertical-align: -0.2rem;
  }
  &--cart {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    svg {
      transform: translateY(-0.3rem);
    }
  }
}

.cart__currency {
  font-size: 1.2rem;
  line-height: 1;
}
