.header__container {
  background-color: $color-dark-2;
  width: 100%;
  display: flex;
  z-index: 2;
  position: relative;
}

.header {
  display: grid;
  grid-column-gap: 0.6rem;
  padding: 10px 0;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: auto;
  align-items: center;
  margin: 0 auto;
  width: 137.6rem;

  @media only screen and (max-width: 68em) {
    display: flex;
    gap: 1.5rem 3rem;
  }

  &__button {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }

    svg {
      fill: $color-primary;
      padding-left: 0.55rem;
      width: 4.5rem;
      height: 3.5rem;
      transform: translateY(0.7rem);
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 68em) {
      display: none;
    }

    &--item {
      &:hover {
        opacity: 0.8;
      }
    }

    &--icon {
      fill: $color-primary;
      padding-left: 2.8rem;
      padding-right: 1.6rem;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    flex: 1 0 auto;

    &--img {
      width: auto;
      height: 7.2rem;
      display: block;

      @media only screen and (max-width: 68em) {
        height: 9rem;
      }
    }
  }
}

.account__bar {
  justify-self: end;
  color: $color-primary;
  fill: $color-primary;
  display: flex;
  align-items: center;
  gap: 1.6rem;

  &--customer {
    display: inline-block;
    overflow: visible;
    transform: translateY(-0.6rem);
    width: 2.7rem;
    height: 2.7rem;

    @media only screen and (max-width: 68em) {
      display: none;
    }
  }
  &--cart {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    svg {
      display: inline-block;
      overflow: visible;
      transform: translateY(-0.6rem);
      width: 2.4rem;
      height: 2.8rem;

      @media only screen and (max-width: 64em) {
        width: 3rem;
        height: 3.5rem;
      }
    }
  }
}

.cart__currency {
  font-size: 1.2rem;
  line-height: 1;
  transform: translateY(-0.3rem);

  @media only screen and (max-width: 68em) {
    display: none;
  }
}

.mini__bar--search {
  svg {
    display: none;

    @media only screen and (max-width: 68em) {
      display: inline-block;
      overflow: visible;
      width: 2.4rem;
      height: 2.4rem;
      color: $color-primary;
      transform: translateY(-0.3rem);
    }
    @media only screen and (max-width: 64em) {
      width: 3rem;
      height: 3rem;
      transform: translateY(-0.16rem);
    }
  }
}
